UIComponent {
    pointer-events: all;
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
    color: darken(white, 0.2);

    > .keybinds {
        position: absolute;
        right: 50px;
        bottom: 50px;
        flex-direction: column;
        gap: 10px;
        align-items: flex-end;
        transition: bottom 0.25s ease;

        &:intro {
            bottom: -200px;
        }

        &:outro {
            bottom: -200px;
        }
    }
}
