@namespace Blobs.UI
@inherits Panel

<root>
	<p class="gray">score</p>
	<p>@($"{(_lerpCount.CeilToInt()):n0}")</p>
</root>

@code {
	private BlobController Controller => Client.Local.IsValid() ? Client.Local.Pawn as BlobController : null;
	private float _lerpCount = 0;

	public override void Tick()
	{
		base.Tick();

		_lerpCount = MathX.Lerp( _lerpCount, Controller?.TotalSize ?? 0, 10f * Time.Delta );
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( _lerpCount.CeilToInt() );
	}
}
