Score {
    position: absolute;
    bottom: 50px;
    left: 50px;
    padding: 10px 20px;
    background-color: rgba(black, 0.9);
    border-radius: 5px;
    justify-content: center;
    color: white;
    flex-direction: column;
    gap: 10px;
    transition: bottom 0.25s ease;

    &:intro {
        bottom: -200px;
    }

    &:outro {
        bottom: -200px;
    }

    > .gray {
        color: darken(white, 0.2);
        border-bottom: 3px darken(white, 0.2);
    }
}
