{
  "Actions": [
    {
      "Name": "Split",
      "GroupName": "Other",
      "Title": "Split",
      "KeyboardCode": "SPACE",
      "GamepadCode": "None"
    },
    {
      "Name": "Feed",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    }
  ],
  "__guid": "ddf65b99-bf66-4024-8097-d297ef8a472a",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}